.ContactsForm {
  width: 400px;

  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
}

.ContactsForm input {
  display: block;

  width: 250px;
  cursor: pointer;
  padding: 0 10px;
  vertical-align: middle;
}

.contactName {
  text-transform: capitalize;
}

.ContactsForm button {
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #232323;
  padding: 0 10px;
  vertical-align: middle;
}
.ContactsForm button:active {
  background-color: #90d8ee;
}
.ErrorMessage {
  color: #f30a0a;
  padding: 12px 0;
  margin: 0;
  text-align: center;
}
